html, body {
    width:100%;
    background-color:#32DC5A;
    color:#fff;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-align:center;
    -webkit-font-smoothing:antialiased;
    font-weight:400;
}

h1{
    font-size:2em;
    margin-bottom:0.6em;
    margin-top:0;
}

h2 {
    font-weight: 300;
}

p {
    font-size:1em;
    margin-bottom:2em;
    margin-top:0;}

a {
    color:#fff;
    font-weight:700;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

em {
    font-size:0.5em;
    color:#888;
}

.container {
    width:90%;
    height:90%;
    position:absolute;
    top:5%;
    left:5%;
}

.navigation {
    text-align: center;
    position:absolute;
    bottom:10%;
    left:0;
    width:100%;
}

.navigation ul{
    list-style: none;
    padding:0;
    margin:0 auto;
}

.navigation ul li {
    display:inline-block;
    background: rgba(0,0,0,0.1);
    padding:1% 0;
    margin:0.3%;
    font-weight: 700;
    width:10%;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.navigation ul li:hover {
    background: rgba(0,0,0,0.3);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;

}

.navigation a {
    color:rgba(255,255,255,0.7);
    text-decoration:none;

}

.navigation a:hover {
    color:#fff;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
}

.pages {

}

.page {
    display:none;
    width: 100%;
    height:100%;
    overflow-y:scroll;
    background-color: #fff;
    position:absolute;
    top:0;
    left:0;
    color:#454545;
    z-index: 10000;
}

.tracking-notes {
    display:none;
    width: 100%;
    height:100%;
    background-color: #fff;
    position:absolute;
    top:0;
    left:0;
    color:#454545;
    z-index: 10000;
}

form {
    margin-bottom:5%;
    background-color:#f2f2f2;
    padding: 1% 4%;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
}

.block {
    font-size:0.8em;
    border: 1px solid #dedede;
    padding: 3%;
    margin: 3% 0;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    background-color:#f9f9f9;
}

.range {
    font-size:0.8em;
    vertical-align: middle;
    margin-right: 10%;
}

input[type=range] {
    width:20%;
    height:7%;
}

input[type=number] {
    width:20%;
    border:none;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    background-color: #fff;
    padding: 3% 0 3% 3%;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-align:center;
    -webkit-font-smoothing:antialiased;
    color:#32DC5A;
    outline:none;

}

input[type=submit] {
    background:none;
    background-color: #32DC5A;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.5em;
    letter-spacing:-0.02em;
    padding: 2% 5% 3% 5%;
    text-align: center;
    text-decoration: none;
    margin: 3% 0;
    border:none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

input[type=submit]:hover {
    background-color: #498241;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    border:none;
    outline:none;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    cursor: pointer;
}

label {
    display:block;
    clear:both;
    margin: 0 0 5% 0;
}

textarea {
    width:50%;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    -webkit-font-smoothing:antialiased;
    font-weight:300;
    color:#666;
    font-size: 0.75em;
    letter-spacing:-0.02em;
    outline: none;
}

button {
    background-size: auto;
    background-color:#fff;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    border: 2px solid #32DC5A;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    color: #32DC5A;
    display: inline-block;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.5em;
    letter-spacing:-0.02em;
    padding: 1.5%;
    width:50%;
    text-align: center;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    margin-bottom:1.4em;
    margin-top:0;
    cursor: pointer;
}

button:hover{
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(50,220,90,0.1);
    background-image: none;
    background-size: auto;
    border-color: rgba(50,220,90,0);
    padding: 1.5%;
    width:50%;
    text-align: center;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

span.fa-times {
    position:absolute;
    top:3%;
    right:4%;
    color:#32DC5A;
    cursor:pointer;
}

.account-content .settings-content .faq-content {
    background-color:#fff;
}

.account-content a,.settings-content a,.faq-content a{
    color:#32DC5A;
    text-transform: none;
    font-weight:400;
    font-size: 0.7em;
}

.page-container {
    padding:10%;
    height:100%;
}

.progress-blocks {
    height:40%;
    overflow: hidden;
}

.work-block {
    background: rgba(0,0,0,0.03);
    height:10%;
    width:18%;
    margin:0 0.5%;
    padding:0;
    display:inline;
    float:left;
    position:relative;
}

.short-break-block{
    background: rgba(0,0,0,0.03);
    height:10%;
    width:3%;
    margin:0 0.5%;
    padding:0;
    display:inline;
    float:left;
    position:relative;

}

.long-break-block {
    background: rgba(0,0,0,0.03);
    height:10%;
    width:9%;
    margin:0 0.5%;
    padding:0;
    display:inline;
    float:left;
    position:relative;

}

.block-progress {
    background: #fff;
    height:100%;
    width: 0%;
    margin:0;
    padding:0;
    border-bottom: 3px solid #13FF00;
}

span.fa-pencil {
    text-align: right;
    color: rgba(255,255,255,0.5);
    padding: auto 0;
    cursor: pointer;
    display:inline;
    font-size: 0.7em;
    position:absolute;
    right:5%;
    top:25%;
}

span.fa-pencil:hover {
    color: rgba(255,255,255,1);
    -webkit-font-smoothing: antialiased;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
}

.timer-inner{
    background-size: auto;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    border: 2px solid #fff;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.5em;
    letter-spacing:-0.02em;
    padding: 1.5%;
    width:50%;
    text-align: center;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    margin-bottom:1.4em;
    margin-top:0;
    cursor: pointer;
}

.timer-inner span.clock{
    display:none;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

.timer-inner:hover span.clock, .timer-inner.active span.clock {
    display:inline;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    opacity: 1;
}

.timer-inner:hover span.cta, .timer-inner.active span.cta {
    display:none;
    opacity: 0;
}

.timer-inner:hover{
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(255, 255, 255, 0.15);
    background-image: none;
    background-size: auto;
    border-color: rgba(255, 255, 255, 0);
    padding: 1.5%;
    width:50%;
    text-align: center;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

#accordion {
    text-align:left;
    font-size: 0.9em;
    border-bottom: 1px dotted #dedede;
    padding-bottom: 2%;
}

.accordion-toggle {
    cursor: pointer;
    background-color:#f2f2f2;
    padding:2%;
    margin:2% 0;
}

.accordion-content {
    display: none;
}

.accordion-content.default {
    display: block;
}

.fa-plus {
    color:#32DC5A;
    cursor: pointer;
    font-size:0.7em;
    float:right;
    display:block;
    vertical-align: text-middle;
    line-height:2.2;
}

.fa-smile-o {
    color:#32DC5A;
    font-size:5em;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    background-color:#dedede;
    width:100%;
    padding: 15px 0 10px;
    border-top: 3px solid #fff;
}

footer img {
    width:16px;
    height:20px;
}
